Repository bells17-labs/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-test-infra-prow-checkconfig, pre-org-update-check, post-org-update-apply

pull-test-infra-prow-checkconfig:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20200520-e1124f454
      command:
      - /checkconfig
      args:
      - --config-path=prow/config.yaml
      - --job-config-path=prow/jobs
      - --plugin-config=prow/plugins.yaml
      - --strict
  ...

pre-org-update-check:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/peribolos:v20200722-b942f8218d
      command:
      - /app/prow/cmd/peribolos/app.binary.runfiles/io_k8s_test_infra/prow/cmd/peribolos/linux_amd64_pure_stripped/app.binary
      args:
      - --github-token-path=/etc/oauth-token/oauth
  ...

post-org-update-apply:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/peribolos:v20200722-b942f8218d
      command:
      - /app/prow/cmd/peribolos/app.binary.runfiles/io_k8s_test_infra/prow/cmd/peribolos/linux_amd64_pure_stripped/app.binary
      args:
      - --github-token-path=/etc/oauth-token/oauth
  ...

Update org file test2
  org/org.yaml
Due: pre-org-update-check, post-org-update-apply

Add limit_req to nginx
  prow/manifest/loadbalancer.yaml
Due: none

Add prow-playground repo
  org/org.yaml
Due: pre-org-update-check, post-org-update-apply

Add --fix-repo option to Peribolos command
  prow/jobs/bells17-labs/test-infra/bells17-labs--test-infra.yaml
Due: pull-test-infra-prow-checkconfig

Update org file
  org/org.yaml
Due: pre-org-update-check, post-org-update-apply

Add prow-playground test
  prow/jobs/bells17-labs/prow-playground/bells17-labs--prow-playground.yaml
Due: pull-test-infra-prow-checkconfig

Path conditions:
  pull-test-infra-prow-checkconfig: any of: ^(prow/(config|plugins).yaml$|prow/jobs/.*.yaml$)
  pre-org-update-check: any of: ^org/org.yaml$
  post-org-update-apply: any of: ^org/org.yaml$
